body, html {
    margin:0;
    padding:0;
}
.row {
    width:100%;
    height:90px;
    box-sizing: border-box;
    padding: 50px;
    margin:0;
}
nav {
    background:#D8D8D8;
    width:100%;
    height:100px;
    box-sizing: border-box;
   } 
.blue-box {
    height:70px;
    width:70px;
    background-color: #4E92DF;
    margin:15px;
    display: inline-block;
}
.row-2 {
    width:100%;
    height:200px;
    background-color: white;
    padding:50px;
}
span {
    padding: 50px;
    height:100px;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.3em;
    display: inline-block;
}
.row-3 {
    background-color: #4E92DF;
}
.row-4 {
    background-color: #58E2C2;
}
.row-5 {
    background-color: #B9E88B;
}
.row-6 {
    background-color: #F7E53B;
}
